{
  "version": 8,
  "name": "Topaz Racing ENC Prototype",
  "metadata": {"maputnik:renderer": "mlgljs"},
  "bounds": [{{ delimit .tileSet.bounds ", " }}],
  "center": [{{ delimit .tileSet.center ", " }}],
  "zoom": {{ .tileSet.zoom }},
  "sources": {
    "enc-overview": {
      "type": "vector",
      "tiles": ["{{ .tileEndpoint }}/{{ .overviewSource }}/{z}/{x}/{y}"]
    },
    "osm-tiles": {
      "type": "vector",
      "tiles": ["{{ .tileEndpoint }}/{{ .detailSource }}/{z}/{x}/{y}"]
    }
  },
  "layers": [
    {
      "id": "background",
      "type": "background",
      "paint": {"background-color": "rgba(46,33,87,1.0)"}
    },

    { "id": "deptharea-overview",      "type": "fill",   "source": "enc-overview", "source-layer": "DEPARE",  "maxzoom": {{ .detailMinZoom }},
      "paint": { "fill-color": { "property": "DRVAL1", "stops": [[50,"rgba(43,55,86,0.75)"],[350,"rgba(53,50,90,0.60)"],[500,"rgba(31,45,96,0.45)"],[1000,"rgba(21,35,30,0.20)"]] } } },
    { "id": "deptharea",               "type": "fill",   "source": "osm-tiles",    "source-layer": "DEPARE",  "minzoom": {{ .detailMinZoom }},
      "paint": { "fill-color": { "property": "DRVAL1", "stops": [[50,"rgba(43,55,86,0.75)"],[350,"rgba(53,50,90,0.60)"],[500,"rgba(31,45,96,0.45)"],[1000,"rgba(21,35,30,0.20)"]] } } },

    { "id": "landarea-overview",       "type": "fill",   "source": "enc-overview", "source-layer": "LNDARE",  "maxzoom": {{ .detailMinZoom }},
      "layout": {"visibility": "visible"},
      "paint": {"fill-color": "#130f1f"} },
    { "id": "landarea",                "type": "fill",   "source": "osm-tiles",    "source-layer": "LNDARE",  "minzoom": {{ .detailMinZoom }},
      "layout": {"visibility": "visible"},
      "paint": {"fill-color": "#130f1f"} },

    { "id": "coastline-overview",      "type": "line",   "source": "enc-overview", "source-layer": "COALNE",  "maxzoom": {{ .detailMinZoom }},
      "paint": {"line-color": "#198EC8"} },
    { "id": "coastline",               "type": "line",   "source": "osm-tiles",    "source-layer": "COALNE",  "minzoom": {{ .detailMinZoom }},
      "paint": {"line-color": "#198EC8"} },

    { "id": "depth-contour-overview",  "type": "line",   "source": "enc-overview", "source-layer": "DEPCNT",  "maxzoom": {{ .detailMinZoom }},
      "layout": {"visibility": "visible"},
      "paint": { "line-color": {"stops": [[1,"rgba(180,22,194,0.0)"],[11,"rgba(180,22,194,0.8)"]]}, "line-width": 1.5, "line-opacity": 0.3 } },
    { "id": "depth-contour",           "type": "line",   "source": "osm-tiles",    "source-layer": "DEPCNT",  "minzoom": {{ .detailMinZoom }},
      "layout": {"visibility": "visible"},
      "paint": { "line-color": {"stops": [[1,"rgba(180,22,194,0.0)"],[11,"rgba(180,22,194,0.8)"]]}, "line-width": 1.5, "line-opacity": 0.3 } },

    { "id": "rivers-overview",         "type": "line",   "source": "enc-overview", "source-layer": "RIVERS",  "maxzoom": {{ .detailMinZoom }},
      "paint": {"line-color": "rgba(25,18,42,1)"} },
    { "id": "rivers",                  "type": "line",   "source": "osm-tiles",    "source-layer": "RIVERS",  "minzoom": {{ .detailMinZoom }},
      "paint": {"line-color": "rgba(25,18,42,1)"} },

    { "id": "shipping-lane-divider-overview", "type": "fill", "source": "enc-overview", "source-layer": "TSEZNE", "maxzoom": {{ .detailMinZoom }},
      "paint": {"fill-color": "rgba(85,45,7,0.06)"} },
    { "id": "shipping-lane-divider",          "type": "fill", "source": "osm-tiles",    "source-layer": "TSEZNE", "minzoom": {{ .detailMinZoom }},
      "paint": {"fill-color": "rgba(85,45,7,0.06)"} },

    { "id": "shipping-lane-boundary-overview", "type": "line", "source": "enc-overview", "source-layer": "TSSBND", "maxzoom": {{ .detailMinZoom }},
      "paint": {"line-color": "rgba(126,3,5,0.39)", "line-dasharray": [2,1], "line-width": 0.8} },
    { "id": "shipping-lane-boundary",          "type": "line", "source": "osm-tiles",    "source-layer": "TSSBND", "minzoom": {{ .detailMinZoom }},
      "paint": {"line-color": "rgba(126,3,5,0.39)", "line-dasharray": [2,1], "line-width": 0.8} },

    { "id": "shipping-lanes-overview", "type": "fill",   "source": "enc-overview", "source-layer": "TSSLPT",  "maxzoom": {{ .detailMinZoom }},
      "layout": {"visibility": "visible"},
      "paint": {"fill-color": "rgba(52,4,7,0.21)"} },
    { "id": "shipping-lanes",          "type": "fill",   "source": "osm-tiles",    "source-layer": "TSSLPT",  "minzoom": {{ .detailMinZoom }},
      "layout": {"visibility": "visible"},
      "paint": {"fill-color": "rgba(52,4,7,0.21)"} },

    { "id": "precautionary-area-overview", "type": "fill", "source": "enc-overview", "source-layer": "PRCARE", "maxzoom": {{ .detailMinZoom }},
      "paint": {"fill-color": "rgba(97,101,78,0.15)"} },
    { "id": "precautionary-area",          "type": "fill", "source": "osm-tiles",    "source-layer": "PRCARE", "minzoom": {{ .detailMinZoom }},
      "paint": {"fill-color": "rgba(97,101,78,0.15)"} }
  ],
  "id": "topaz-racing-enc-prototype"
}
